body .container {
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  background-color: #0071CE;
}

.info > div {
  margin: 10px;
  padding: 20px;
}

messageBox2 {
  display: none;
}
